<?php
/**
 * komplizierte_articles extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       komplizierte
 * @package        komplizierte_articles
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Article view template
 *
 * @category    komplizierte
 * @package     komplizierte_articles
 * @author      Ultimate Module Creator
 */
?>
<?php $_article = $this->getCurrentArticle();?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title article-title">
    <h1><?php echo $_article->getEnabled(); ?></h1>
</div>
<div class="article-view">
    <div class="article-title">
        <?php echo Mage::helper('komplizierte_articles')->__('Title');?>:<?php echo $_article->getTitle();?>

    </div>
    <div class="article-text">
        <?php echo Mage::helper('komplizierte_articles')->__('Text');?>:<?php echo $_article->getText();?>

    </div>
    <div class="article-image">
        <?php if ($_article->getImage()) :?>
    <img src="<?php echo Mage::helper('komplizierte_articles/article_image')->init($_article, 'image')->resize(75);?>" alt="<?php echo $this->escapeHtml($_article->getEnabled());?>" />
<?php endif;?>

    </div>
    <div class="article-enabled">
        <?php echo Mage::helper('komplizierte_articles')->__('Enabled');?>:<?php echo $_article->getEnabled();?>

    </div>

</div>
